[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "regfilter"]
	path = regfilter
	url = https://github.com/juanmartinsantos/regfilter
	subdir = pkg/regfilter
[submodule "rgnoisefilt"]
	path = rgnoisefilt
	url = https://github.com/juanmartinsantos/rgnoisefilt
	subdir = pkg/rgnoisefilt
